@charset "UTF-8";


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #edf0f1;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.429;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

.hero {
    padding: 20px;
}

.list-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
}

.item-delete {
    width: 40px;
    height: 40px;
    float: left;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/trash.png");
}

.btn {
    color: #fff;
    text-decoration: none;
    user-select: none;
    padding: .7em 1.5em;
    outline: none;
    border: none;
}

.btn-register {
    background: rgb(212, 75, 56);
}

.btn-login {
    background: rgb(11, 122, 30);
}

.btn-register:hover {
    background: rgb(232, 95, 76);
    cursor: pointer;
}

.btn-register:active {
    background: rgb(152, 15, 0);
}

.btn-login:hover {
    background: rgb(14, 153, 37);
    cursor: pointer;
}

.btn-login:active {
    background: rgb(9, 83, 22);
}